:root {
    --primer: #224232;
}

.navbar {
    box-shadow: 0 0 0 2px var(--primer);
}

.navbar .navbar-brand {
    color: var(--primer);
}

.navbar a:hover{
    color: var(--primer);
}

.btn {
    border: 3px solid var(--primer);
    border-radius: 20px;
    padding: 8px 40px;
}

.btn:hover {
    background-color: var(--primer);
    color: white;
}

.home h1 {
    font-size: 72px;
    color: var(--primer);
}

.home h3 {
    font-size: 32px;
}

.about {
    background-color: var(--primer);
    color: #dadada;
}

.exp h2 {
    color: var(--primer);
}

.exp .exp-item-detail {
    display: none;
}
