.navbar {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25);
}

.btn {
    border: 3px solid black;
    border-radius: 20px;
    padding: 8px 40px;
}

.btn:hover {
    background-color: black;
    color: white;
}

.home h1 {
    font-size: 72px;
}

.home h3 {
    font-size: 32px;
}

.home .arrow img {
    width: 50px;
}

